.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 2px solid rgb(85, 165, 230);
  margin-bottom: 2rem;
}

.item h2 {
  font-weight: 800;
}

.item span {
  font-size: 7rem;
}

.item p {
  font-size: 1.8rem;
  font-style: italic;
}

.smile {
  margin-left: 1.5rem;
}

.delete {
  display: flex;
  flex-direction: column;
  margin-right: 1.5rem;
}

.button {
  padding: 2rem 2rem;
  background-color: indianred;
  box-shadow: 0 1px 3px #ffabaf;
}

.button:hover {
  cursor: pointer;
  background-color: #b54848;
}
