.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
}

.modal {
  display: block;
  position: fixed;
  top: 20%;
  left: 20%;
  width: 60%;
  max-width: 70rem;
  animation: slide-down 350ms ease-in-out both;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
